<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>adddoctor</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('adddoctor')}}">Add New Doctor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('viewdoctor')}}">View Doctors</a>
                    </li>


                </ul>

            </div>
        </nav>


        <h1>Add new Doctor </h1>



        <form action="http://localhost:5000/adddoctor" method="POST">

            <div class="row g-3">
                <div class="col-md">

                    <div class="form-group">
                        <label for="inputDocName">Fname</label>
                        <input name="Fname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter doctor first name">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="col-md">

                    <div class="form-group">
                        <label for="inputDocName">Mname</label>
                        <input name="Mname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter doctor mid name">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-group">
                        <label for="inputDocName">Lname</label>
                        <input name="Lname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter doctor last name">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneinput">Phone</label>
                <input name="Phone" type="number" class="form-control" id="idinput" placeholder="Enter doctor Phone Number">
            </div>
            <div class="mb-3">
                <label for="Docemailinput" class="form-label">mail</label>
                <input name="mail" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="BDinput">Birth_date</label>
                <input name="Birth_date" type="number" class="form-control" id="idinput" placeholder="Enter doctor Birth Date">
            </div>

            <div class="form-group">
                <label for="idinput">Doctor_ID</label>
                <input name="Doctor_ID" type="number" class="form-control" id="idinput" placeholder="Enter doctor ID">
            </div>
            <div class="form-group">
                <label for="salaryinput">Salary</label>
                <input name="Salary" type="number" class="form-control" id="idinput" placeholder="Enter doctor salary">
            </div>

            <div class="form-group">
                <label for="inputDocsex"> gender  </label>
                <select name=" gender" size="2" multiple class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Open this select menu</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
        
      </select>
            </div>


            <div class="form-group">
                <label for="codeinput">Syndicate_number</label>
                <input name="Syndicate_number" type="number" class="form-control" id="idinput" placeholder="Enter doctor syndicate num">
            </div>

            <div class="form-group">
                <label for="inputDocaddress">address</label>
                <input name="address" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter doctor address">

            </div>


            <div class="form-group">
                <label for="inputDocjobrank">Job_rank</label>
                <input name="Job_rank" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter doctor job rank">

            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>