<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/add.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add Patient</title>

    <!-- * Style *-->
    <style>
        a {
            display: inline-block;
        }
        
        h5 {
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent" style="background-color: #e8e8e8;">
            <!-- Tabs Titles -->
            <a class="inactive underlineHover" href="{{ url_for('hello_name') }}" style="text-decoration: none;">Home</a>
            <h5 class="active"> Add Patient </h5>
            <a class="inactive underlineHover" href="{{ url_for('viewpatient') }}" style="text-decoration: none;">View Patient</a>
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="/static/img/logo.png" id="icon" alt="User Icon" style="max-width: 20%;" />
            </div>

            <form action=" http://127.0.0.1:5000/updatepatient" method="POST">
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="inputPassword">Pcode</label>
                            <input name="Pcode" type="text" value={{Pcode}} class="form-control" id="inputPassword" placeholder="Enter patient code">
                        </div>
                    </div>
                    <div class="col-md">

                        <div class="form-group">
                            <label for="inputPassword">password</label>
                            <input name="password" type="text" value={{password}} class="form-control" id="inputPassword" placeholder="Enter patient password">
                        </div>
                    </div>
                    <div class="col-md">

                        <div class="form-group">
                            <label for="idinput">Patient_ID</label>
                            <input name="Patient_ID" type="number" value={{Patient_ID}} class="form-control" id="idinput" placeholder="Enter Patient ID">
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="inputpatName">Fname</label>
                            <input name="Fname" type="text" value={{Fname}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient first name">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="inputpatName">Mname</label>
                            <input name="Mname" type="text" value={{Mname}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient mid name">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="inputpatName">Lname</label>
                            <input name="Lname" type="text" value={{Lname}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient last name">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-auto">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="inputPassword">SupD</label>
                                <input name="SupD" type="text" value={{SupD}} class="form-control" id="inputPassword" placeholder="Enter patient code">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="inputpatsex"> gender</label></br>
                                <select name="gender" value={{gender}} class="form-select form-select-sm" aria-label=".form-select-sm example" style="background-color: white;border: thistle;">
                            <option value="Male" selected>Male</option>
                            <option value="Female">Female</option>
                        </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group ">
                            <label for="ageinput">age</label>
                            <input name="age" type="number" value={{age}} class="form-control" id="idinput" placeholder="Enter patient age">
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="phoneinput">Phone</label>
                            <input name="Phone" type="tel" value={{Phone}} class="form-control" id="idinput" placeholder="Enter patient Phone Number">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="Docemailinput" class="form-label">mail</label>
                            <input name="mail" type="email" value={{mail}} class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                    </div>
                    <div class="col-md">

                        <div class="form-group">
                            <label for="inputpataddress">address</label>
                            <input name="address" type="text" value={{address}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient address">
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="Numofsessionsinput">Sessions</label>
                            <input name="Num of sessions" type="number" value={{Numofsessions}} class="form-control" id="idinput" placeholder="Enter patient Num of sessions">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="inputpatDaysofsessions">Days of sessions</label>
                            <input name="Days of sessions" type="text" value={{Daysofsessions}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient Days of sessions">
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="Dry_weightinput">Dry_weight</label>
                            <input name="Dry_weight" type="number" value={{Dry_weight}} class="form-control" id="idinput" placeholder="Enter patient dry weight">
                        </div>
                    </div>
                    <div class="col-md">


                        <div class="form-group">
                            <label for="inputDescribed_drugs">Described_drugs</label>
                            <input name="Described_drugs" type="text" value={{Described_drugs}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Described_drugs">
                        </div>
                    </div>
                </div>
                <button type="submit" style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); border-radius: 10px;">Upload</button>

            </form>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>