<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>view session</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('hello_name')}}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
   
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('addsession')}}">Add New session</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('viewsession')}}">View sessions</a>
            </li>
         
         </ul>
   </div>
   </nav>
   
   <div class="container">
<h1>View sessions</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Scode</th>
            <th scope="col">Date</th>
            <th scope="col">used_device</th>
            <th scope="col">price</th>
            <th scope="col">record_by</th>
            <th scope="col">after_weight</th>
            <th scope="col">duration</th>
            <th scope="col">taken_drugs</th>
            <th scope="col">complications</th>
            <th scope="col">dealing_with_complications</th>
            <th scope="col">comments</th>
            <th scope="col">P_code</th>
            <th scope="col">D_code</th>
            <th scope="col">N_code</th>

        </tr>
    </thead>
    <tbody>
        {% for data in sessionsData %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{data.0}}</td>
            <td>{{data.1}}</td>
            <td>{{data.2}}</td>
            <td>{{data.3}}</td>
            <td>{{data.4}}</td>
            <td>{{data.5}}</td>
            <td>{{data.6}}</td>
            <td>{{data.7}}</td>
            <td>{{data.8}}</td>
            <td>{{data.9}}</td>
            <td>{{data.10}}</td>
            <td>{{data.11}}</td>
            <td>{{data.12}}</td>
            <td>{{data.13}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
   </div>