<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/view.css') }}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>view doctor</title>
    <style>
        a {
            display: inline-block;
        }
        
        h5 {
            display: inline-block;
        }
        
        button {
            display: inline-block;
            border-radius: 5px;
            border: 1px gray;
        }
    </style>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent" style="overflow-x:auto;">
            <a class="inactive underlineHover" href="{{ url_for('hello_name') }}" style="text-decoration: none; font-size: 16px;">Home</a>
            <a class="inactive underlineHover" href="{{ url_for('adddoctor') }}" style="text-decoration: none; font-size: 16px;">Add Doctor</a>
            <h5 class="active"> View Doctor </h5>
            <div class="fadeIn first">
                <img src="/static/img/logo.png" id="icon" alt="User Icon" style="max-width: 20%;" />
            </div>
            <table class="table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Dcode</th>
                        <th scope="col">password</th>
                        <th scope="col">Fname</th>
                        <th scope="col">Mname</th>
                        <th scope="col">Lname</th>
                        <th scope="col">phone</th>
                        <th scope="col">mail</th>
                        <th scope="col">Birth_date</th>
                        <th scope="col">Doctor_ID</th>
                        <th scope="col">syndicate_number</th>
                        <th scope="col">salary</th>
                        <th scope="col">gender</th>
                        <th scope="col">address</th>
                        <th scope="col">jop_rank</th>
                        <th scope="col">Action</th>


                    </tr>
                </thead>

                <tbody>
                    {% for data in DoctorsData %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{data.0}}</td>
                        <td>{{data.1}}</td>
                        <td>{{data.2}}</td>
                        <td>{{data.3}}</td>
                        <td>{{data.4}}</td>
                        <td>{{data.5}}</td>
                        <td>{{data.6}}</td>
                        <td>{{data.7}}</td>
                        <td>{{data.8}}</td>
                        <td>{{data.9}}</td>
                        <td>{{data.10}}</td>
                        <td>{{data.11}}</td>
                        <td>{{data.12}}</td>
                        <td>{{data.13}}</td>
                        <td style="min-width: 200px;">
                            <button style="background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,52,89,1) 0%, rgba(0,168,232,1) 90% );">
                                <a href="{{url_for('editdoctor',id=data.0)}}" style="color: white;">Edit
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                                </a>
                            </button>
                            <button style="background-image: radial-gradient( circle farthest-corner at 7.2% 19%,  rgba(120,0,0,1) 0%, rgba(239,75,75,1) 100.2% ); ">
                                <a  onclick="return confirm('Warning : YOU NEED TO DROP THE DOCTOR PATIENTS AND SESSIONS FRIST!!,  ARE YOU SURE YOU WANT TO DELETE?');" href="{{url_for('deletedoctor',id=data.0)}}" style="color: aliceblue;">Delete 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>