<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/view.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>View Patient</title>
    <style>
        a {
            display: inline-block;
        }
        
        h5 {
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent" style="overflow-x:auto;">
            <a class="inactive underlineHover" href="{{ url_for('hello_name') }}" style="text-decoration: none; font-size: 16px;">Home</a>
            <a class="inactive underlineHover" href="{{ url_for('addpatient') }}" style="text-decoration: none; font-size: 16px;">Add Patient</a>
            <h5 class="active"> View Patient </h5>
            <div class="fadeIn first">
                <img src="/static/img/logo.png" id="icon" alt="User Icon" style="max-width: 20%;" />
            </div>
            <table class="table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Pcode</th>
                        <th scope="col">password</th>
                        <th scope="col">Fname</th>
                        <th scope="col">Mname</th>
                        <th scope="col">Lname</th>
                        <th scope="col">Num of sessions</th>
                        <th scope="col">Days of sessions</th>
                        <th scope="col">Patient_ID</th>
                        <th scope="col">phone</th>
                        <th scope="col">mail</th>
                        <th scope="col">age</th>
                        <th scope="col">gender</th>
                        <th scope="col">address</th>
                        <th scope="col">Dry_weight</th>
                        <th scope="col">Described_drugs</th>
                        <th scope="col">SupD</th>
                    </tr>
                </thead>

                <tbody>
                    {% for data in patientsData %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{data.0}}</td>
                        <td>{{data.1}}</td>
                        <td>{{data.2}}</td>
                        <td>{{data.3}}</td>
                        <td>{{data.4}}</td>
                        <td>{{data.5}}</td>
                        <td>{{data.6}}</td>
                        <td>{{data.7}}</td>
                        <td>{{data.8}}</td>
                        <td>{{data.9}}</td>
                        <td>{{data.10}}</td>
                        <td>{{data.11}}</td>
                        <td>{{data.12}}</td>
                        <td>{{data.13}}</td>
                        <td>{{data.14}}</td>
                        <td>{{data.15}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>