 {% extends "adddoctor.html" %} {% block main %}
<h1>View Doctors</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Dcode</th>
            <th scope="col">Fname</th>
            <th scope="col">Mname</th>
            <th scope="col">Lname</th>
            <th scope="col">phone</th>
            <th scope="col">mail</th>
            <th scope="col">Birth_date</th>
            <th scope="col">Doctor_ID</th>
            <th scope="col">syndicate_number</th>
            <th scope="col">salary</th>
            <th scope="col">gender</th>
            <th scope="col">address</th>
            <th scope="col">jop_rank</th>
            <th scope="col">access_level</th>
        </tr>
    </thead>

    <tbody>
        {% for data in DoctorsData %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{data.0}}</td>
            <td>{{data.1}}</td>
            <td>{{data.2}}</td>
            <td>{{data.3}}</td>
            <td>{{data.4}}</td>
            <td>{{data.5}}</td>
            <td>{{data.6}}</td>
            <td>{{data.7}}</td>
            <td>{{data.8}}</td>
            <td>{{data.9}}</td>
            <td>{{data.10}}</td>
            <td>{{data.11}}</td>
            <td>{{data.12}}</td>
            <td>{{data.13}}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}