<HTML>
    <BODY bgcolor="cyan">
        
        <form class="form-group" action="{{ url_for('rolelogin') }}" method="post">
            <center>
            <label>CODE</label>
            <input type="text" class="form-control" name="dcode" placeholder="code" id="code" required>
            <label>Password</label>
            <input type="password" class="form-control" name="dpassword" placeholder="Password" id="password" required>
            <input type="checkbox" value="checked"><b>Remember</b>
            <input type="submit" value="Login" class="form-control btn btn-success " name="">
            </center>
        </form>
        <form class="form-group" action="{{ url_for('rolelogin') }}" method="post">
            <center>
            <label>CODE</label>
            <input type="text" class="form-control" name="ncode" placeholder="code" id="code" required>
            <label>Password</label>
            <input type="password" class="form-control" name="npassword" placeholder="Password" id="password" required>
            <input type="checkbox" value="checked"><b>Remember</b>
            <input type="submit" value="Login" class="form-control btn btn-success " name="">
            </center>
        </form>
        <form class="form-group" action="{{ url_for('rolelogin') }}" method="post">
            <center>
            <label>CODE</label>
            <input type="text" class="form-control" name="pcode" placeholder="code" id="code" required>
            <label>Password</label>
            <input type="password" class="form-control" name="ppassword" placeholder="Password" id="password" required>
            <input type="checkbox" value="checked"><b>Remember</b>
            <input type="submit" value="Login" class="form-control btn btn-success " name="">
            </center>
        </form>               
        <div id="msg">{{ msg }}</div>
    </BODY>
    </HTML>