#This is my html file
<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>

<body>
    <h1>This is heading 1 tag</h1>
    <h2>This is heading 2 tag</h2>
    <h3>This is heading 3 tag</h3>
    <h4>This is heading 4 tag</h4>
    <h5>This is heading 5 tag</h5>
    <h6>This is heading 6 tag</h6>

    <p>This is a paragraph</p>


    <a href="actual link www.something.com">link text</a>

    <table>
        <tr>
            <th>Header1</th>
            <th>Header2</th>
        </tr>
        <tr>
            <td>Header 1 data</td>
            <td>Header 2 data</td>
        </tr>
        <tr>
            <td>Header 1 data</td>
            <td>Header 2 data</td>
        </tr>
    </table>

</body>

</html>